{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 >Créer un bien</h1>
        {{ include('lesbiens/_form.html.twig',{button:'Créer'}) }}
    </div>
{% endblock %}


