{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 >Créer un employé(e)</h1>
        {{ include('lesemployes/_form.html.twig',{button:'Créer'}) }}
    </div>
{% endblock %}


