{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 >Editer une agence</h1>
        {{ include('lesagences/_form.html.twig',{button:'Créer'}) }}
    </div>
{% endblock %}


